.detail-transaction-page {
    font-family: $serif-font;
    border-radius: 1rem;
  
    .detail-table {
      border-radius: 1rem;
      background: $light-gray;
    }
  
    .detail-grid-container {
      display: grid;
      grid-template-columns: 3fr 10rem 10rem 10rem 4rem;
      text-align: left;
        .total {
            color: red;
            font-size: 1.5rem;
        }
      &.header {
        border-radius: 1rem 1rem 0 0;
        background: $primary-color;
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        > div {
          padding: 1.5rem;
        }
      }
      &.border-head {
          border-top: 1px solid #d7d3d3;
      }
      > div {
        padding: 1.5rem;
        display: flex;
        align-items: center;
  
        &.product {
          img {
            margin-right: 1rem;
            width: 3rem;
            height: 3rem;
          }
        }
        &.quantity {
          display: flex;
          align-items: center;
          justify-content: center;
  
          .quantity-wrapper {
            height: 2rem;
            border: 1px solid $light-gray;
            border-radius: 0.3rem;
            overflow: hidden;
            display: grid;
            grid-template-columns: 3fr 4fr 3fr;
            width: 100%;
  
            button {
              height: 100%;
              background-color: white;
              border-radius: 0;
              color: black;
              padding: 0 0;
  
              &:hover {
                background-color: $primary-color;
                color: white;
              }
            }
          }
        }
      }
  
      @mixin mobile {
        @include xs {
          @content;
        }
        @include sm {
          @content;
        }
      }
  
      @include mobile {
        grid-template-columns: 1fr 4rem 5rem 5rem 1.8rem;
        &.header {
          border-radius: 0.5rem 0.5rem 0 0;
          font-weight: 500;
          font-size: 0.9rem;
          > div {
            padding: 0.5rem;
          }
        }
  
        > div {
          padding: 0.5rem;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
  
          &.product {
            img {
              display: none;
            }
          }
        }
      }
    }
}
  