.footer-container {
  font-family: $modern-font;
  display: flex;
  justify-content: center;

  > div {
    @include md {
      width: $md-width;
    }

    @include lg {
      width: $md-width;
    }

    @include el {
      width: $md-width;
    }
    @include xs {
      width: 100%;
    }

    @include sm {
      width: 100%;
    }
  }

  .footer-grid {
    padding-top: 10px;
    display: grid;
    row-gap: 1.6rem;
    .footer-item {
      display: flex;
      flex-direction: column;

      > div {
        text-align: center;
        h3 {
          font-size: 1.5rem;
          font-weight: bolder;
          padding-bottom: 0.8rem;
        }
        p {
          font-size: 0.9rem;
          line-height: 1.5rem;
        }
      }
    }

    @mixin stack-footer {
      @include xs {
        @content;
      }

      @include sm {
        @content;
      }
    }

    @mixin grid-footer {
      @include md {
        @content;
      }

      @include lg {
        @content;
      }

      @include el {
        @content;
      }
    }

    @include stack-footer {
      grid-template-columns: 1fr;
    }

    @include grid-footer {
      grid-template-columns: 1fr 1fr 1fr;
      .footer-item {
        &.credit,
        &.social {
          grid-column: 1 / span 3;
        }
      }
    }
  }
  .social-icons {
    display: flex;
    justify-content: center;
    .social-icon {
      margin: 0 0.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 3rem;
      height: 3rem;
      font-size: 1.3rem;
      border-radius: 100%;
      cursor: pointer;
      -webkit-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      &:hover {
        font-size: 1.7rem;
      }

      &.facebook {
        color: #3b5998;
      }
      &.twitter {
        color: #00aced;
      }
      &.github {
        color: #180a07;
      }
      &.linkedin {
        color: #007bb6;
      }
    }
  }
}
