$nav-bar-height: 65px;

.header-container {
	z-index: 1000;
	font-family: $modern-font;
	height: $nav-bar-height;
	position: fixed;
	width: 100%;
	.header-wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		transition: all 0.2s ease;
	}
}

.header-container.scrolled {
	.header-wrapper {
		background: white;
		border-bottom: 1px solid rgb(158, 157, 157);
	}
}

.header-container.on-top {
	.header-wrapper {
		color: white;
	}
	.toggle-button > img {
		filter: invert(1);
	}
	.nav-icons-ul li > img {
		filter: invert(1);
	}
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		img {
			height: 45px;
		}
		margin-left: 10px;
		margin-right: 20px;
	}

	.toggle-button {
		display: flex;
		align-items: center;
		margin-left: 10px;
		margin-right: 10px;
		&:hover {
			cursor: pointer;
		}
		img {
			height: 30px;
		}
		display: none;
		@include xs {
			display: inherit;
		}
		@include sm {
			display: inherit;
		}

		&.nav-dropped {
			img {
				margin-left: 2px;
				height: 25px;
			}
		}
	}

	nav {
		display: flex;
		float: left;
		ul {
			display: flex;
			align-items: center;
		}

		.nav-tabs-ul {
			li {
				font-weight: 10px;
				padding: 0 20px;
				height: 100%;
				display: flex;
				align-items: center;
				&:hover {
					cursor: pointer;
				}
				div {
					font-size: 1.2em;
				}
			}
			@include xs {
				display: none;
			}
			@include sm {
				display: none;
			}
		}

		.nav-icons-ul {
			li {
				display: flex;
				align-items: center;
				&:hover {
					cursor: pointer;
				}
				margin-right: 10px;
			}
			img {
				height: 30px;
			}
		}
	}
}

.nav-dropdown {
	display: none;
	color: white;
	width: 100%;
	background-color: rgb(41, 41, 41);

	ul {
		li {
			padding: 10px;
			&:hover {
				cursor: pointer;
				background: gray;
			}
		}
	}
}

.nav-dropdown-active {
	@include xs {
		display: inherit;
	}

	@include sm {
		display: inherit;
	}
}
