.header-container {
	z-index: 15;
	font-family: $modern-font;
	height: $nav-bar-height;
	position: fixed;
	width: 100%;

	.header-wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		transition: all 0.2s ease;
	}

	&.solid {
		.header-wrapper {
			background: white;
			border-bottom: 1px solid rgb(158, 157, 157);
		}
	}

	&.transparent {
		.header-wrapper {
			color: white;
		}
		.toggle-button > img {
			filter: invert(1);
		}
		.nav-icon li > img {
			filter: invert(1);
		}
	}

	.header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		nav {
			display: flex;
			float: left;
			ul {
				display: flex;
				align-items: center;
			}
		}

		.nav-left {
			.logo {
				margin-left: 10px;
				margin-right: 20px;
				cursor: pointer;
				img {
					height: 40px;
				}
			}

			.toggle-button {
				display: flex;
				align-items: center;
				margin-left: 10px;
				margin-right: 10px;
				cursor: pointer;
				img {
					height: 30px;
				}
				display: none;
				@include xs {
					display: inherit;
				}
				@include sm {
					display: inherit;
				}

				&.dropped {
					img {
						margin-left: 2px;
						height: 25px;
					}
				}
			}

			.nav-tab {
				li {
					font-weight: 10px;
					padding: 0 20px;
					height: 100%;
					display: flex;
					align-items: center;
					cursor: pointer;
					div {
						font-size: 1.2em;
					}
				}
				@include xs {
					display: none;
				}
				@include sm {
					display: none;
				}
			}
		}

		.nav-right {
			.nav-icon {
				li {
					display: flex;
					align-items: center;
					cursor: pointer;
					margin-right: 10px;
				}
				img {
					height: 30px;
				}
				&.hidden {
					display: none;
				}
			}

			.nav-login-register {
				padding-right: 10px;
				&.hidden {
					display: none;
				}
				li {
					> div {
						cursor: pointer;
					}
					.login {
						margin-left: 40px;
					}
				}
			}
		}
	}

	.nav-dropdown {
		display: none;
		color: white;
		width: 100%;
		background-color: rgb(41, 41, 41);

		ul {
			li {
				padding: 15px 20px;
				cursor: pointer;
				&:hover {
					background: gray;
				}
			}
		}

		&.active {
			@include xs {
				display: inherit;
			}

			@include sm {
				display: inherit;
			}
		}
	}
}
