.tab-login-container {
  .forgot-password {
    cursor: pointer;
    font-size: 0.9rem;
    color: rgb(24, 121, 167);
    margin-bottom: 1.6rem;
  }

  .connect-with {
    padding: 1.6rem 0;
    width: fit-content;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .connect-with-logo {
    display: flex;
    justify-content: center;

    > div {
      cursor: pointer;
      img {
        height: 3rem;
      }
    }
  }
}
