.payment-page {
  font-family: $serif-font;

  .order-info {
    .title-payment {
      width: 100%;
    }

    .grid-wrapper {
      border-radius: 1rem;
      overflow: hidden;

      .order-info-container {
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 1fr;
        padding-top: 0.5rem;

        > div {
          padding: 0 1rem;
          padding-bottom: 0.5rem;
        }

        &.header {
          padding: 0.5rem;
          font-size: 1.2rem;
          background: $primary-color;
          color: white;
          > div {
            padding: 0.5rem;
          }
        }

        &.item {
          background: #dddddd;
        }

        &.total {
          background: $light-gray;
          h4 {
            text-align: right;
            font-weight: 600;
          }
        }
      }
    }
  }

  .payment-gateway {
    display: flex;

    .payment-method {
      width: 20rem;
      margin: 0 2rem 2rem 0;
      .payment-method-container {
        border-radius: 1rem;
        background: $light-gray;
        margin-bottom: 1rem;

        .method {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .content {
            display: flex;
            align-items: center;
            padding: 1rem;
            input {
              margin-right: 0.3rem;
            }
          }
          .logo {
            padding-right: 1rem;
            img {
              height: 2rem;
            }
          }
        }
      }

      button {
        width: 100%;
        padding: 0.5rem 0;
        border-radius: 10rem;
        font-size: 1.3rem;
      }
    }

    .qr-code-wrapper {
      p {
        margin-bottom: 0.5rem;
      }
      .qr-code-content {
        text-align: center;
        img {
          width: 20rem;
          height: 20rem;
        }
      }
    }

    @include xs {
      flex-direction: column;
    }

    @include sm {
      flex-direction: column;
    }
  }
}
