button {
  background: $primary-color;
  color: white;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
}

textarea:focus,
input:focus {
  outline: none;
}

h3 {
  text-align: left;
  font-size: 1.8em;
  padding: 1rem 0;
}
