.header-container {
	z-index: 15;
	font-family: $modern-font;
	position: fixed;
	width: 100%;

	.header-wrapper {
		display: flex;
		align-items: center;
		transition: background 0.2s ease;
	}

	&.solid {
		.header-wrapper {
			background: white;
			border-bottom: 1px solid rgb(158, 157, 157);
		}
	}

	&.transparent {
		.header-wrapper {
			color: white;
		}
		.toggle-button > img {
			filter: invert(1);
		}
		.nav-icon li > img {
			filter: invert(1);
		}
	}

	&.modal-active {
		.header-wrapper {
			margin-right: $sidebar-width;
		}
	}

	.header-content {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "logo nav-tab nav-icon";
		&.wrapper {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}

		.toggle-button-wrapper {
			grid-area: toggle-button;

			display: none;
		}

		.logo-wrapper {
			grid-area: logo;
			display: flex;
			align-items: center;
			.logo {
				margin-right: 1.6rem;
				cursor: pointer;
				img {
					height: 2.2rem;
				}
			}
		}

		nav {
			display: flex;
			float: left;
			ul {
				display: flex;
				align-items: center;
			}
		}

		.nav-left {
			grid-area: nav-tab;
			.nav-tab {
				li {
					font-weight: 0.8rem;
					margin: 0 1.6rem;
					height: 100%;
					display: flex;
					align-items: center;
					cursor: pointer;
					font-size: 1.2rem;
				}
			}
		}

		.nav-right {
			grid-area: nav-icon;
			.nav-icon {
				li {
					display: flex;
					align-items: center;
					cursor: pointer;
					margin-left: 0.8rem;
				}
				img {
					height: 1.8rem;
				}
				&.hidden {
					display: none;
				}
			}

			.nav-login-register {
				&.hidden {
					display: none;
				}
				li {
					cursor: pointer;
					&.login {
						margin-left: 2.5rem;
					}
				}
			}
		}

		@mixin mobile {
			@include xs {
				@content;
			}
			@include sm {
				@content;
			}
		}

		@include mobile {
			grid-template-columns: auto 1fr auto;
			grid-template-areas:
				"toggle-button logo nav-icon"
				"nav-tab nav-tab nav-tab";

			.toggle-button-wrapper {
				display: flex;
				align-items: center;

				.toggle-button {
					margin-right: 0.8rem;
					cursor: pointer;
					img {
						height: 1.8rem;
						width: 1.8rem;
					}
				}
			}

			.nav-left {
				display: none;

				&.nav-dropdown {
					display: inherit;
					margin-top: 0.5rem;
					border-top: 1px solid rgb(158, 157, 157);

					ul {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-top: 1rem;
						li {
							width: 100%;
							cursor: pointer;
							margin: 1rem 0 0;
						}
						:first-child {
							margin-top: 0;
						}
					}

					&.active {
						@include xs {
							display: inherit;
						}

						@include sm {
							display: inherit;
						}
					}
				}
			}
		}
	}
}
