.slide-container {
  position: relative;

  @include lg-h {
    height: 100vh;
    .slide-content {
      padding-top: 32vh;
    }
  }
  @include sm-h {
    height: $min-height;
    .slide-content {
      padding-top: 25vh;
    }
  }

  img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slide-content {
    text-align: center;
    color: white;
    z-index: -5;
    width: 100%;
    font-family: $modern-font;
    h1 {
      font-size: 5rem;
      font-weight: bolder;
      &.short-title {
        display: none;
      }
      @include xs {
        &.full-title {
          display: none;
        }
        &.short-title {
          display: inherit;
        }
        font-size: 3.5rem;
      }
      @include sm {
        &.full-title {
          display: none;
        }
        &.short-title {
          display: inherit;
        }
      }
      @include md {
        &.full-title {
          display: none;
        }
        &.short-title {
          display: inherit;
        }
      }
    }
    p {
      font-size: 1.5rem;
      @include xs {
        font-size: 1rem;
      }
      margin: 1rem 0 3rem 0;
    }
    button {
      padding: 0.5rem 0;
      width: 12rem;
      font-size: 1.2rem;
      border-radius: 1.6rem;
      color: rgb(255, 255, 255);
    }
  }
}
